.bigbox {
  display:flex;
  justify-content: space-around;
  flex-direction: vertical;
  flex-wrap: wrap;
}

body {
  background-color: #001a33;
  font-family: "Roboto"
}


.box {
  display: flex;
}

.myB {
  font-family: 'Italiana', serif;
  border:0.1em solid #FFFFFF;
  margin: 20px;
  width: 150px;
  height: 40px;
  color:#FFFFFF;
  background-color: #001a33;
  transition: all 0.2s;
  font-weight:300;
  padding:0.35em 1.2em;
  weight: bold;
  font-size: 15px;
}

.myB:hover{
  cursor: pointer;
  color:#000000;
  background-color:#FFFFFF;
}

.turnindicator {
  font-size: 30px;
  color:white;
  margin-left: 200px;
  margin-top: 150px;
  font-family: 'Italiana', serif;

}

.right {
  font-family: 'Italiana', serif;
  font-style: italic;
  text-align: Right
}





.beige:hover {
  cursor:pointer;
}

.beige:active {

  background-color: #808080
}



.brown:hover {
  cursor:pointer;
}

.brown:active {
  background-color: #808080
}

.beigewhitepiece:hover {
  cursor:pointer;
}

.beigewhitepiece:active {
  background-color: #808080
}



.brownwhitepiece:hover {
  cursor:pointer;
}

.brownwhitepiece:active {
  background-color: #808080
}

tbody {
  width:100%;
  height:100%
}



.chessrow {
  width:100%;
  height:12.5%;
}

.chessboard {
    margin-top:50px;
    width:500px;
    height:500px;
    padding:0px;
    border: 25px solid #333;
}
.brown {
    float: left;
    min-height:12.5%;
    min-width: 12.5%;
    background-color: #654321;
    font-size:275%;
    padding:0px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    border: .25px solid black;

}

.beige {
  float: left;
  min-height:12.5%;
  min-width: 12.5%;
  background-color: #9e834f;
  font-size:275%;
  padding:0px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
  border: .25px solid black;

}
.brownwhitepiece {
    float: left;
    min-height:12.5%;
    min-width: 12.5%;
    background-color: #654321;
    font-size:275%;
    padding:0px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    border: .25px solid black;
    color: #f0ead6
}
.beigewhitepiece {
    float: left;
    min-height:12.5%;
    min-width: 12.5%;
    background-color: #9e834f;
    font-size:275%;
    padding:0px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    border: .25px solid black;
    color:#f0ead6
}


.row {
  margin: 0px;
}

@media screen and (max-width: 550px) {
  .chessboard{
    width:250px;
    height:250px;
  }
}

@media screen and (max-width: 550px) {
  .brown {
      float: left;
      min-height:12.5%;
      min-width: 12.5%;
      background-color: #654321;
      font-size:120%;
      text-align:center;
      padding:0px;
      border: .25px solid black;

  }

  .beige {
      float: left;
      min-height:12.5%;
      min-width: 12.5%;
      background-color: #9e834f;
      font-size:120%;
      text-align:center;
      padding:0px;
      border: .25px solid black;

  }
  .brownwhitepiece {
      float: left;
      min-height:12.5%;
      min-width: 12.5%;
      background-color: #654321;
      font-size:120%;
      text-align:center;
      padding:0px;
      border: .25px solid black;
      color: #f0ead6
  }
  .beigewhitepiece {
      float: left;
      min-height:12.5%;
      min-width: 12.5%;
      background-color: #9e834f;
      font-size:120%;
      text-align:center;
      padding:0px;
      border: .25px solid black;
      color:#f0ead6
  }



}

@media screen and (max-width: 1100px) {
  .turnindicator {
    font-size: 30px;
    color:white;
    margin-left: 50px;
    margin-top: 150px;
    font-family: 'Italiana', serif;


  }

  .right {
    font-family: 'Italiana', serif;
    font-style: italic;
    text-align: Center;
  }
}
